.aboutus, .courses, .entryrequirements, .officehod {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 90px 60px;
    border-radius: 50px;
}

.aboutus {
    background-image: url('../assets/about1.jpg');
}

.courses {
    background-image: url('../assets/about1.jpg');
}

.entryrequirements {
    background-image: url('../assets/Cs\ background.jpg');
}

.officehod {
    background-image: url('../assets/about1.jpg');
    margin-bottom: 70px;
}

.textoverlay {
    padding: 20px;
    border-radius: 50px;
}

.textcontent {
    text-align: center;

}

h1 {
    font-size: 80px;
    margin-bottom: 10px;
    color: rgb(12, 48, 121);
}

p a {
    font-size: 30px;
    margin-top: 20px;
    color: blue;
    opacity: inherit;
}

h2 {
    color: rgb(165, 70, 70);
    font-size: large;
    font-family: sans-serif;
    text-align: center;
}

.columndiv {
    column-count: 2;
    column-gap: normal;
    font-family: 'Times New Roman', Times, serif;
    font-stretch: extra-expanded;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.firstp {
    font-style: normal;
    font-display: block;
}

/*Get to know us*/
/* get to know us section */
.Containerheader {
    padding: 60px;
    text-align: center;
}

.imagecontainer {
    margin-top: -56px;
    display: flex;
}



.imagecolumn {
    flex: 2;
    margin: 10px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(247, 224, 224);
    box-shadow: 0px 0px 3px black
}

.imageheader {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.Orgimage {
    text-align: center;
}

.Orgimage img {
    width: 100%;
    border-radius: 100px;
}

.imagecolumn video {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
}

.imagefooter {
    text-align: justify;
}

.bgresources {
    position: relative;
    background-image: url('../assets/resourcesmain.jpg');
    /*Adjust the path accordingly*/
    background-size: cover;
    background-position: center;
    padding: 90px 60px;
    border-radius: 50px;
}

.blockchain {
    background-image: url('../assets/blockchain.webp');
    margin-bottom: 5px;
    background-size: cover;
    padding: 50px 50px;
    height: 400px;
    width: 1000px;
}

.Topai {
    background-image: url('../assets/topai.webp');
    margin-bottom: 5px;
    background-size: cover;
    padding: 50px 50px;
    height: 400px;
    width: 1000px;
}

.IAstudies {
    background-image: url('../assets/AIstudies.webp');
    margin-bottom: 5px;
    background-size: cover;
    padding: 50px 50px;
    height: 400px;
    width: 1000px;
}

.aicourses {
    background-image: url('../assets/AI\ 2.webp');
    margin-bottom: 5px;
    background-size: cover;
    padding: 50px 50px;
    height: 400px;
    width: 1000px
}